
body{
	background-image: url("images/autumn.jpg");
}
h1{
	color: #ffff00;
	font-family: mv boli;
	font-size: 30px
}
p{
	color: #ffff00;
	font-family: segoe Print;
	font-size: 25px

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #300;
}